# Test places and builds
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx

# LuaCov output location
/luacov.*

# MkDocs build output
/site/

# Wally
Packages
DevPackages
wally.lock

# Misc OS
.DS_Store
sourcemap.json